
main {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  /* margin-top: 60px; */
}


.btn-facebook {
  background: var(--color-facebook);
  color: #fff;
}

.btn-facebook:hover {
  background: var(--color-facebook-hover);
}

.btn-google {
  background: #fff;
  color: var(--text-color);
  border: 1px solid #cacaca;
}

.btn-google:hover {
  background: #eaeaea;
}

.btn-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-icon span { flex-grow: 1; }
.btn-icon i { margin-right: 10px; }

.navbar {
  width: 100%;
  height: 60px;
  background: var(--primary-color);
  color: #fff;
  padding: 15px 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__logo {
  padding: 0;
  margin: 0;
  color: #fff;
}

.navbar__user {
  display: flex;
  align-items: center;
}

.navbar__item-left {
  display: flex;
  align-items: center;
}

.navbar__actions {
  margin-left: 50px;
  display: flex;
}

.avatar__profile {
  display: flex;
  align-items: center;
  padding-right: 10px;
  background: #fff;
  color: var(--text-color);
  height: 42px;
  border-radius: 22px;
  padding: 0 10px 0 2px;
}

.avatar__profile-item {
  list-style-type: none;
}

.avatar__profile h5 {
  margin: 0;
  text-transform: capitalize;
  margin-left: 10px;
}

.avatar__img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tab {
  padding: 0;
  text-align: center;
}

.tab li {
  display: inline-block;
  text-transform: uppercase;
  margin: 0 20px;
  font-size: 14px;
}

.tab li:hover {
  cursor: pointer;
}

.tab li.active {
  font-weight: bold;
  border-bottom: 2px solid var(--primary-color);
}

.signin,
.signup {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: #fff;
  padding: 50px;
  padding-top: 20px;
  width: 500px;
}

.signin-social-login {
  width: 100%;
  display: flex;
}

.signin-social-login button {
  flex-basis: 50%;
  margin: 0 3px;
}

#signin-form,
#signup-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-label {
  font-size: 14px;
  padding-left: 10px;
  margin-bottom: 5px;
}

.form-title {
  margin-top: 0;
}

.form-field {
  width: 100%;
}

.form-field {
  display: flex;
  flex-direction: column;
}

.input-error input {
  border: 1px solid red !important;
}

.input-error label {
  color: red !important;
}


.chatroom {
  width: 100%;
  height: 100%;
  display: flex;
  padding-top: 60px;
}

.chatroom-sidebar {
  width: 30%;
}

.chatroom-chat {
  width: 70%;
}

.chatbox {
  width: 100%;
  height: 100%;
  position: relative;
}

.chatbox-input {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
}

.chatbox-input input {
  width: 100%;
}

.active-users {
  width: 100%;
  height: 100%;
  background: #1a1a1a;
  padding: 0 10px;
}

.active-users-item {
  display: flex;
  align-items: center;
}

.active-users-name {
  color: #fff;
  margin-left: 10px;
}